{
    cert_issuer acme {
        dir https://acme-v02.api.letsencrypt.org/directory
        profile shortlived
    }
    default_sni <public_server_ip>
}

<public_server_ip>:20130 {
    reverse_proxy omniroute-prod:20128

    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        Content-Security-Policy "upgrade-insecure-requests"
        -Server
    }
    request_body {
        max_size 10MB
    }
}

<public_server_ip>:20131 {
    reverse_proxy omniroute-prod:20129

    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        Content-Security-Policy "upgrade-insecure-requests"
        -Server
    }
}
