{
<global_acme_block>
    default_sni <public_server_ip>
}

http://:20130 {
    reverse_proxy omniroute-prod:20128
<tls_directive>

    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        Content-Security-Policy "upgrade-insecure-requests"
        -Server
    }
    request_body {
        max_size 10MB
    }
}

http://:20131 {
    reverse_proxy omniroute-prod:20129
<tls_directive>

    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        Content-Security-Policy "upgrade-insecure-requests"
        -Server
    }
}
